@import url(https://fonts.googleapis.com/css?family=Lobster|Pacifico|Permanent+Marker&display=swap);

h1 {
font-family: 'Lobster', cursive;
}
		
header, footer {
	background-color: #FADBD8 !important;
	text-align: center;
}

#true {
	background-color: #2A324B  !important;
}
	
nav {
    background-color: #7880B5 !important;
    border-top: thin #5b7d87 solid;
    border-bottom: thin #5b7d87 solid;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px
    
}

nav .btn {
    background-color: #FADBD8;
    color: #4F5D2F; 
    
    
}

nav .btn:hover {
    font-weight: bold;
}

nav .btn:visited {
	color: purple;
	}

label {
font-weight: bold;
text-align: right;
float: left;
clear: both;
}